

# name: build d'un projet

# on:
#   push:
#     branches: [ "dev" ]
  

# jobs:
#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - name : Téléchargement des sources || cloner le repertoire 
#       uses: actions/checkout@v3
#     - name: Set up JDK 17
#       uses: actions/setup-java@v3
#       with:
#         java-version: '17'
#         distribution: 'temurin'
#         cache: maven
#     - name: Build with Maven
#       run: mvn -B package --file pom.xml
#     - name: run unit tests 
#       run : mvn test

name: build d'un projet maven CI/CD 

on:
  push:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Téléchargement des sources || cloner le repertoire 
      uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Set up ChromeDriver
      uses: nanasess/setup-chromedriver@v2
      with:
        chromedriver-version: '88.0.4324.96'
    - name: Start Xvfb
      run: |
        export DISPLAY=:99
        sudo Xvfb :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Run unit tests 
      run: mvn test

